body{
    background: black;
    color: white;
   
}
h1 {
    display: flex;
    justify-content:center ;
    align-items: center;
}
a{
    display: flex;
    justify-content:center ;
    align-items: center;
}
iframe{
    display: flex;
    justify-content:center ;
    align-items: center;
}